[package]
name = "raytracer"
version = "0.1.0"
edition = "2021"

[dependencies]
env_logger = "0.11.8"
glam = "0.30"
image = "0.25"
log = "0.4.28"
rand = "0.8"
rayon = "1.10"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
